$primary-color: #333;
$background-color: #f9f7f6;
.app {
  background-color: $background-color;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100vw;
  height:100vh;
  font-size: 1.4rem;
}

 .login_box_wrapper{
  display:flex:
  align-items:center;
  justify-content: center;
  flex-direction: column;
  width:30%;
  height: 20rem;
}

// .login_box_wrapper .login_avatar{
//   background:black;
//   width:10rem;
//   height:10rem;
//   border:1px solid red;
//   border-radius: 50%;
// }
//
// .login_box_wrapper .login_form{
//   background:pink;
//   width:10rem;
//   height:10rem
// }
